
  .history__link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.772);
  
    font-size: 0.9rem;
  }
  
  .history__link a:hover {
    color: #fff;
  }
  
  .live__auction__top h3 {
    color: #fff;
  }
  
  .live__auction__top span a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #5142fc;
  }